[Bb]uild*/
[Bb]in
bin/**
win32*/
win64*/
.directory
.mailmap
*.json
*.ori
*.rej
tmp/**
tmp/**/*
*.BAK
*.tmp
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.log
